<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer_fragment" class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="footer-content">
            <p>Java Spring Boot Webapp.</p>
            <span>
                <img src="/image/github.svg" width="24" height="24">
                <a href="https://github.com/shio3ch/java-spring-boot-webapp">
                    https://github.com/shio3ch/java-spring-boot-webapp
                </a>
            </span>
        </div>
    </div>
</footer>