<header xmlns:th="http://www.thymeleaf.org" th:fragment="header_fragment">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/image/shokupan.png" width="30" height="30">
                SouthernCrossPanFactory
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/display">商品</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/access">アクセス</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>