<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>SouthernCrossPanFactory - 商品</title>
    <meta name="description" content="パン工場の商品一覧です。">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>商品</h2>
        <div th:each="item :${itemList}" class="shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-sm">
                    <p>パンの画像</p>
                </div>
                <div class="col-8">
                    <span th:text="${item.name}"></span>
                    <p th:text="${item.introduction}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>